@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

html {
	height: 100%;
	/*background-image: linear-gradient(to bottom left, red, blue);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;*/
	color: #ffffff;

	font-family: "Atkinson Hyperlegible";
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.65;
}

#bg {
	-moz-transform: scale(1.0);
	-webkit-transform: scale(1.0);
	-ms-transform: scale(1.0);
	transform: scale(1.0);
	-webkit-backface-visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: -2;
}

#bg:before, #bg:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#bg:before {
	background-image: linear-gradient(to bottom left, #400086, #0b0087);
}

#bg:after {
	background-image: linear-gradient(to bottom left, #400086, #0b0087);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -2;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;

	font-family: "Atkinson Hyperlegible";
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.65;
}

input, select, button {
	font-family: "Atkinson Hyperlegible";
	font-weight: 400;
	font-size: 1rem;
	/*line-height: 1.65;*/
}

/* Tooltips */

.tooltip {
	position: relative;
	border-radius: 12px;
	background: rgba(0, 0, 0, 0.125);
	color: white;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 30vw;
	background-color: black;
	color: white;
	text-align: center;
	border:white 1px solid;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	margin-left: -15vw;
}

.tooltip:hover {
	background: rgba(0, 0, 0, 0.5);
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}


/* Error Midi API popup */

.error-midi-api {
	transition: all 0.5s ease;
	position: fixed;
	background-color: #000000f0;
	width: 100%;
	top: 0;
	bottom: 0;
	z-index: -1;
	text-align: center;
	opacity: 0;
}

.error-midi-api.active {
	z-index: 10;
	opacity: 1;
}

.error-midi-api .info {
	font-size: 1.5em;
}

.error-midi-api .info  a {
	border-bottom: dotted 1px rgba(255, 255, 255, 0.5);
	text-decoration: none;
	color: inherit;
}

.error-midi-api .info  a:hover {
	border-bottom: none;
}

/* Title stuff */

.title {
	font-family: Georgia;
	font-size: 5vw
}

.title .superscript {
	position: relative;
	top: -2vw;
	font-size: 3vw
}

/* Config panel stuff */

.config {
	width: 100%;
}

.config table {
	margin: auto;
}

.config tr {
	height: 2.5em;
}

.config tr td {
	text-align: left;
	padding: 0 1em 0 1em;
}

.config tr td:first-child {
	text-align: right;
} 

.config #connectionState {
	font-size: 1.25em;
}

input[type="text"] {
	outline: 0;
	font-size: 1em;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 0.25em;
	border: #ffffffa0 1px solid;
	color: #ffffff;
	padding: 0.5em;
}

input[type="text"]:focus {
	box-shadow: 0 0 6px 1px #ffffffa0;
}

select {
	width: 100%;
	outline: 0;
	font-size: 1em;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 0.25em;
	border: #ffffffb0 1px solid;
	color: #ffffff;
	padding: 0.5em;
}

option {
	background-color: #000000;
}

button {
	width: 100%;
	outline: 0;
	font-size: 1em;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 0.75rem;
	border: #ffffffa0 1px solid;
	color: #ffffff;
	padding: 0.5em;
}

button:hover {
	background-color: rgba(0, 0, 0, 0.125);
}

button:focus {
	background-color: rgba(0, 0, 0, 0.25);
}

/* Footer stuff */

#footer .copyright {
	letter-spacing: 0.2rem;
	font-size: 1rem;
	opacity: 0;
	margin-bottom: 0;
}

.footer .icons {
	display: flex;
	align-items: center;
    justify-content: center;
}

.footer .icons a {
	border-radius: 0.5em;
	font-size: 1.5em;
	padding: 0.5em;
	margin: 0.5em;
	border: #ffffff 1px solid;
	text-decoration: none;
	color: inherit;
}

.footer .icons a:hover {
	background-color: rgba(255, 255, 255, 0.125);
}

.footer .copyright a {
	border-bottom: dotted 1px rgba(255, 255, 255, 0.5);
	text-decoration: none;
	color: inherit;
}

.footer .copyright a:hover {
	border-bottom: none;
}


/* Keyboard stuff */
.keys {
	display: block;
	width: 90%;
	height: 8vw;
	max-width: 100%;
	position: relative;
	margin: 1vw auto 0;
}

.key {
	position: relative;
	border: 1px solid #ffffffa0;
	border-radius: 0 0 0.5rem 0.5rem;
	transition: all .07s ease;
	display: block;
	box-sizing: border-box;
	z-index: 2;
}

.key:not(.sharp) {
	float: left;
	width: 1.9%;
	height: 100%;
	background: #000000;
}

.key.sharp {
	position: absolute;
	width: 1.2%;
	height: 65%;
	background: #ffffff;
	color: white;
	top: 0;
	z-index: 3;
}

.key.midi-in.sharp {
	background: rgb(0, 0, 255);
}

.key.midi-in:not(.sharp) {
	background: rgb(0, 0, 192);
}

.key.midi-out.sharp {
	background: rgb(255, 0, 0);
}

.key.midi-out:not(.sharp) {
	background: rgb(192, 0, 0);
}

.key.midi-in.midi-out.sharp {
	background: rgb(255, 0, 255);
}

.key.midi-in.midi-out:not(.sharp) {
	background: rgb(192, 0, 192);
}

.not-connected {
	color: #ac2e2e;
	text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
}

.connected {
	color: #2b9453;
	text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
}

.connecting {
	color: #d49940;
	text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
}

.key[id="key-1"] { left: 1.3%; }
.key[id="key-4"] { left: 5.15%; }
.key[id="key-6"] { left: 7.05%; }
.key[id="key-9"] { left: 10.8%; }
.key[id="key-11"] { left: 12.7%; }
.key[id="key-13"] { left: 14.6%; }
.key[id="key-16"] { left: 18.45%; }
.key[id="key-18"] { left: 20.3%; }
.key[id="key-21"] { left: 24.1%; }
.key[id="key-23"] { left: 26.0%; }
.key[id="key-25"] { left: 27.9%; }
.key[id="key-28"] { left: 31.7%; }
.key[id="key-30"] { left: 33.6%; }
.key[id="key-33"] { left: 37.4%; }
.key[id="key-35"] { left: 39.3%; }
.key[id="key-37"] { left: 41.2%; }
.key[id="key-40"] { left: 45.0%; }
.key[id="key-42"] { left: 46.9%; }
.key[id="key-45"] { left: 50.75%; }
.key[id="key-47"] { left: 52.6%; }
.key[id="key-49"] { left: 54.45%; }
.key[id="key-52"] { left: 58.25%; }
.key[id="key-54"] { left: 60.2%; }
.key[id="key-57"] { left: 64.0%; }
.key[id="key-59"] { left: 65.85%; }
.key[id="key-61"] { left: 67.75%; }
.key[id="key-64"] { left: 71.6%; }
.key[id="key-66"] { left: 73.5%; }
.key[id="key-69"] { left: 77.3%; }
.key[id="key-71"] { left: 79.2%; }
.key[id="key-73"] { left: 81.1%; }
.key[id="key-76"] { left: 84.9%; }
.key[id="key-78"] { left: 86.8%; }
.key[id="key-81"] { left: 90.55%; }
.key[id="key-83"] { left: 92.45%; }
.key[id="key-85"] { left: 94.4%; }